* { margin: 0;
    padding: 0;
    /*Padrão*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    color: whitesmoke;
    height: 100vh;
    /*Fonte da página;
    Tela fundo cm estilo degrade entre ciano e azul escolo, esse 90% é para que o azul escuro aparece a partir de 90% da tela;
    Cor da fonte;
    O tamanho 100vh significa tela inteira  com responsividade*/
}

.Título {
        text-align: center;
        /*Alinhamento do Título no centro "Cadastre-se"*/
}

.Caixa  {
    border: solid #fff;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    position: absolute;
    min-width: 400px;
  
    /*Isso significa cor preta com opacidade;
    Desce a "Caixa" 50% a tela;
    Afasta a "Caixa" 50% da tela para direita;
    Alinha o eixo da "Caixa" com seu centro;
    Espaçamento da borta e o conteúdo;
    Arredondamento nas bordas;
    Posição absoluta, se não buga como o backgrund
    Largura mínima
    Sem bordas*/
}

.Caixa-de-Texto {
    padding: 8px;
    background-color: white;
    border: none;
    outline: none; /*Tira borda branca quando clica no input tipo texto*/
    font-size: 15px; /*Tamanho da fonte*/
    border-radius: 5px;
}

.Caixa-de-Texto:focus {
    background-color: lightgrey;
    /*Isso é quando se clica no input*/
}

a {
    text-decoration: none; /*Isso tirao sublinhado do link*/
    color: aquamarine;
}

a:hover {
    color: rgb(0, 30, 101); /*Hover é quando passa o cursor em cima do elemento*/
    /**/
}

.Botao {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    color: white;
    width: 100%;
    border-radius: 5px;
    font: 15px;
    cursor: pointer;
    /**/
}

.Botao:hover {
    background-color: rgb(1, 30, 162);
    transition: 0.3s;
    /**/
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(17, 0, 17);
    height: 8vh;
}
main{ 
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    background-size: cover;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list{
    list-style: none;
    display: flex;

}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
